<div class="container mt-3">
  <div>
    <div class="text-center rounded mt-2">
      <h2 class="">Update product details</h2>
      <hr>
    </div>
    <div class="bg-light display-5 p-3 rounded mb-3">
      <div class="row">
        <div class="col-md-6"> <strong> product name: {{product.productName}} </strong> </div>
        <div class="col-md-6"> <strong> product price: {{product.price}} </strong> </div>
      </div>
    </div>
    
    <div class="container mt-4">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
  
          <div class="form-group">
              <label for="productName">Product Name</label>
              <input class="form-control" id="productName" placeholder="Product Name" formControlName="productName">
            </div>
    
            <div class="form-group">
              <label for="price">Product price</label>
              <input class="form-control" id="price" placeholder="Product price" formControlName="price">
            </div>
          <div class="form-group">
            <button class="btn btn-secondary" (click)="goBack()">Cancel</button>
            <button class="btn btn-success" (click)="goBack()">Add product</button>
          </div>
      </form>
  </div>
</div>
</div>

